<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Basics</title>
</head>

<body>
    <div id="root">
        <h1>{{title}}</h1>
        <!-- CODITIONAL RENDERING: V-if directive hides the element until some condition is met. Can also use v-show. V-if completely rremoves the elem form the DOM, v-show simply applies display: none to it -->
        <h2 v-if="todo.length > 3">Todo: {{todo}}</h2>
        <!-- Use extra if conditions to show different versions of the elem -->
        <h2 v-else-if="todo.length > 0 && todo.length <= 3">Keep writing...</h2>
        <h2 v-else>Enter new todo</h2>
        <label for="">Enter Todo</label>
        <!-- V-model directive creates TWO WAY DATA BINDING between the input field, the data property and the 'output' field -->
        <!-- <input type="text" v-model="todo" :class="{valid: todo.length > 3, invalid: todo.length <= 3}" /> -->
        <!--You can also use the ternary operator for dynamic classes (must be put into an array - you can also simply add an aray of classes): -->
        <input type="text" v-model="todo" :class="[todo.length > 3 ? 'valid': 'invalid']" />
        <!-- v-on handles events. You can add your own arguments, but they'll replace the default event data obj. Also pass $event if you want both -->
        <!-- V-on can be shortened to @click -->
        <button @click="addTodo" :disabled="todo.length < 3">Add</button>
        <!-- V-bind: 'one way data binding': -->
        <!-- v-bind:disabled disables the input field depending on a boolean-->
        <!-- You can omit the v-bind prefix and just use the shorthand :value, :disabled -->
        <input type="text" v-bind:value="someOtherData" v-bind:disabled="!notDisabled">
        <!-- The markup below is instead created as its own component (see the script below) -->
        <!-- <h2>My todo list</h2>
        <ul> -->
        <!-- V-for loops through an array and 'clones' the elem once for each elem in the array -->
        <!-- You can add arguments to the for loop. The index argument is built in -->
        <!-- <li v-for="(each, index) in todoList"> -->
        <!-- Apply filters by adding their method after the single rendered element, separated by | (the 'or' symbol). The filtering is applied when the elem is rendered.-->
        <!-- {{ index + 1 }} {{ each | capitalizeTodo }} -->
        <!-- </li>
        </ul>  -->
        <todo-list :todos="todoList"></todo-list>
        <br><br>
        <!-- COMPUTED PROPORTIES are called without '()', as opposed to METHODS. Here the getFood will get called every time the component re-renders due to the food data property changing (when writing in the input field). getFood will change the entered character to uppercase (see computed function getFood below)-->
        <h2>{{ getFood }}</h2>
        <label for="">Enter your favorite dish</label>
        <input type="text" v-model="food" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</body>
<script>
    // This component is registered 'globally' - directly on the vue instance:
    // Vue.component('todo-list', {
    //     props: ['todos'], // We pass these props to the component to use (props are also called custom attributes)
    //     template: `
    //     <div>
    //         <h2>My todo list</h2>
    //             <ul>
    //                 <li v-for="(each, index) in todos">
    //                 {{ index + 1 }} {{ each | capitalizeTodo }}
    //             </li>
    //         </ul>
    //     </div>
    // `,
    //     filters: { // each component gets its own methods, filters etc. (I think?)
    //         capitalizeTodo(value) { // The value passed here is the elem that the filter method is applied to (called after a '|')
    //             return value.toUpperCase();
    //         }
    //     }
    // })

    let myTodoListComponent = {
        props: ['todos'], // We pass these props to the component to use (props are also called custom attributes)
        // the tmeplate can have only one root elem:
        template: ` 
        <div> 
            <h2>My todo list</h2>
                <ul>
                    <li v-for="(each, index) in todos">
                    {{ index + 1 }} {{ each | capitalizeTodo }}
                </li>
            </ul>
        </div>
    `,
        filters: { // each component gets its own methods, filters etc. 
            capitalizeTodo(value) { // The value passed here is the elem that the filter method is applied to (called after a '|')
                return value.toUpperCase();
            }
        }
    };

    let app = new Vue({ // A 'Vue instance' - made available to the specific element (#root)
        el: '#root',
        components: { // Here we 'register' our components to be used locally (only where needed)
            'todo-list': myTodoListComponent
        },
        // The data available the the decleared Vue instance:
        // data: { 
        //     title: 'Welcome to Vue moddafukkers!' // Simple data
        // }
        // data: function () { // Use data as a function to let every component 'make' their own istance of the data - if decleared as an object, all components wil refer to the same data
        //     return {
        //         title: 'Welcome to Vue!'
        //     }
        // },
        // Use the faster shorthand syntax for the function:
        data() {
            return { // The whole component will generally re-render everytime any of the data changes
                title: 'Welcome to Vue!',
                someOtherData: 'Another data',
                todo: '',
                notDisabled: false, // Sets whether the v-bind:disabled s triggered or not
                todoList: [],
                food: '', // this data property is binded with v-model
            }
        },
        methods: {
            // addTodo(data, event) { // Default event object data is passed to the method (like normal eventlisteners)
            //     console.log('Clicked');
            //     console.log(data);
            //     console.log(event);
            // }
            addTodo() {
                this.todoList.push(this.todo); // We use this keyword to access the keys in our data obj
                // console.log(this.todoList)
                this.todo = ''; // Clears the input field after you click 'Add'
            },
        },
        computed: { // COMPUTED are methods that will only get called when one or more of their DEPENDENCIES change (making the component re-render)
            getFood() {
                // console.log('getFood called')
                return this.food.toUpperCase();
            }
        },
        filters: { // Filter methods go here
            capitalizeTodo(value) { // The value passed here is the elem that the filter method is applied to (called after a '|')
                return value.toUpperCase();
            }
        },
        // The Vue lifecycle = a certain sequence of phases and 'hooks' that begins with the creation and possible destruction of the Vue instance. Hooks are options to call methods/functions between the phases. Here is the possible hooks:
        // beforeCreate() {
        //     console.log('beforeCreate');
        // },
        // created() {
        //     console.log('created');
        // },
        // beforeMount() {
        //     console.log('beforeMount');
        // },
        // mounted() {
        //     console.log('mounted');
        // },
        // // Update is when ever any state changes (data fx)
        // beforeUpdate() {
        //     console.log('beforeUpdate');
        // },
        // updated() {
        //     console.log('updated');
        //     // Lets try and destroy the component:
        //     // app.$destroy(); // Remove comment out to see the destroy in action
        // },
        // // Destroy is a method that can be called to 'destroy' the whole instance (= resetting it?)
        // beforeDestroy() {
        //     console.log('beforeDestroy');
        // },
        // destroyed() {
        //     console.log('destroyed');
        // }
    })
</script>
<style>
    .valid {
        border: 5px solid lightgreen;
    }

    .invalid {
        border: 5px solid red;
    }
</style>

</html>